body {
    background-color: burlywood;
    font-size: large;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
    text-align: center;
}

.main div {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-width: 6px;
    border-radius: 12px;
    border-color: sienna;
    border-style: solid;
    background-color: sienna;
    opacity: 70%;
    transition: 0.4s;
    box-shadow: 4px 4px 4px 4px;
}

.main div:hover {
    opacity: 100%;
}

.img {
    height: 17vh;
    width: 12vw;
    border-radius: 12px;
}
